
.header{
  color: #FFFFFF;
 font-size: 20px;
 padding: 10px;
}


form{
   background :url("file:///C:/Users/IBM_ADMIN/Desktop/portfolio/images/background_black_white_wooden_surface_board_18564_1920x1200.jpg")
}

.container{
	max-width: 650px;
}